doctype html
html(lang='ES')
  head
    meta(charset="Utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1,maximun-scale=1,user-scalable=no")
    title ASUS
    link(href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,300i,400,400i,500,500i,600,900" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css")
    link(rel="stylesheet" type="text/css" href="css/font-awesome.min.css")
    link(rel="stylesheet" href="css/style.css")
  body
    nav(class="navbar navbar-inverse navbar-fixed-top")
      div(class="container")
        div(class="navbar-header")
          button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="navbar-brand" href="index.html")
            img(class="img-responsive" src="img/logo-white.png")
        div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
          ul(class="nav navbar-nav nav-1")
            li
              a(href="tabletas.php") Tabletas
                span(class="sr-only") (current)
            li
              a(href="sobremesa.php") Sobremesa
            li
              a(href="smartphone.php") Smartphones
            li
              a(href="gaming.php") Gaming
            li
              a(href="portatil.php") Portatiles
          ul(class="nav navbar-nav navbar-right")
            li
              a(href="carrito.php")
                img(src="img/icon-cart-w.png" class="img-responsive")
    div(class="container-fluid")
      div(class="row")
        div(class="tram")

    header(class="container-fluid")
      div(class="row")
        div(id="carousel-asus" class="carousel slide" data-ride="carousel")
          ol(class="carousel-indicators")
            li(data-target="#carousel-asus" data-slide-to="0" class="active")
            li(data-target="#carousel-asus" data-slide-to="1")
            li(data-target="#carousel-asus" data-slide-to="2")
          div(class="carousel-inner" role="listbox")
            div(class="item active")
              picture
                source(srcset="img/baner1-mini.jpg" media="(max-width: 768px) and (orientation: portrait)")
                source(srcset="img/baner1.jpg" media="(max-width: 768px) and (orientation: landscape)")
                source(srcset="img/baner1.jpg")
                img(src="img/baner1.jpg" class="img-responsive")
            div(class="item")
              picture
                source(srcset="img/baner2-mini.jpg" media="(max-width: 768px) and (orientation: portrait)")
                source(srcset="img/baner2.jpg" media="(max-width: 768px) and (orientation: landscape)")
                source(srcset="img/baner2.jpg")
                img(src="img/baner2.jpg" class="img-responsive")
            div(class="item")
              picture
                source(srcset="img/baner3-mini.jpg" media="(max-width: 768px) and (orientation: portrait)")
                source(srcset="img/baner3.jpg" media="(max-width: 768px) and (orientation: landscape)")
                source(srcset="img/baner3.jpg")
                img(src="img/baner3.jpg" class="img-responsive")
            div(class="item")
              picture
                source(srcset="img/baner4-mini.jpg" media="(max-width: 768px) and (orientation: portrait)")
                source(srcset="img/baner4.jpg" media="(max-width: 768px) and (orientation: landscape)")
                source(srcset="img/baner4.jpg")
                img(src="img/baner4.jpg" class="img-responsive")
          a(class="left carousel-control" href="#carousel-asus" role="button" data-slide="prev")
            span(class="glyphicon glyphicon-chevron-left" aria-hidden="true")
            span(class="sr-only") Previous
          a(class="right carousel-control" href="#carousel-asus" role="button" data-slide="next")
            span(class="glyphicon glyphicon-chevron-right" aria-hidden="true")
            span(class="sr-only") Next

    div(class="container-fluid")
      div(class="row")
        div(class=col-md-12)
          div(class="carousel carousel-showmanymoveone slide" id="carousel-tilenav" data-interval="false")
            div(class="carousel-inner")
              div(class="item active")
                div(class="imege col-xs-12 col-sm-6 col-md-2")
                  a(href="portatil.php")
                    img(src="img/mini/1.png" class="img-responsive")
              div(class="item")
                div(class="imege col-xs-12 col-sm-6 col-md-2")
                  a(href="sobremesa.php")
                    img(src="img/mini/2.png" class="img-responsive")
              div(class="item")
                div(class="imege col-xs-12 col-sm-6 col-md-2")
                  a(href="sobremesa.php")
                    img(src="img/mini/3.png" class="img-responsive")
              div(class="item")
                div(class="imege col-xs-12 col-sm-6 col-md-2")
                  a(href="gaming.php")
                    img(src="img/mini/5.png" class="img-responsive")
              div(class="item")
                div(class="imege col-xs-12 col-sm-6 col-md-2")
                  a(href="gaming.php")
                    img(src="img/mini/6.png" class="img-responsive")
              div(class="item")
                div(class="imege col-xs-12 col-sm-6 col-md-2")
                  a(href="tabletas.php")
                    img(src="img/mini/7.png" class="img-responsive")
            a(class="left carousel-control" href="#carousel-tilenav" data-slide="prev")
              i(class="glyphicon glyphicon-chevron-left")
            a(class="right carousel-control" href="#carousel-tilenav" data-slide="next")
              i(class="glyphicon glyphicon-chevron-right")

    div(class="container-fluid")
      div(class="row")
        div(class="ul-banner")
          img(class="img-responsive" src="img/baner5.jpg")

    section(class="container-fluid")
      div(class="row")
        div(class="contiene container-fluid")
          div(class="text col-xs-12 col-sm-6 col-md-6")
            blockquote
              h3 La marca líder en placas base
              p Fiel a la innovación y el rendimiento, ASUS lleva 10 años consecutivos liderando el mercado mundial de placas base. El diseño innovador, fácil de usar, estable y fiable de las placas ASUS ha recibido más premios que ningún otro fabricante. ASUS es la marca en la que puedes confiar.
          div(class="imagen col-xs-12 col-sm-6 col-md-6")
            img(src="img/image-text2.jpg" class="img-responsive")
        div(class="contiene container-fluid")
          div(class="text col-xs-12 col-sm-6 col-md-6")
            blockquote
              h3 Tarjetas gráficas ASUS: N.° 1 de los gamers
              p ASUS es la marca líder en tarjetas gráficas. La tecnología Auto-Extreme asegura la fiabilidad más avanzada mediante un proceso de manufactura 100 % automatizado. Las gráficas ASUS ofrecen una experiencia gaming de vanguardia para que disfrutes de más emociones y victorias.
          div(class="imagen col-xs-12 col-sm-6 col-md-6")
            img(src="img/image-text1.jpg" class="img-responsive")

    footer
      div(class="fin container-fluid")
        div(class="row")
          div(class="col-lg-4 col-md-4 col-sm-4 col-lg-push-4 col-md-push-4 col-sm-push-4 col-xs-12 columna-footer-centro")
            div(class="contiene-redes")
              span Encuentranos en :
              ul(class="lista-redes")
                li: a(href="https://web.facebook.com/asusperu/"): i(class="fa fa-facebook" aria-hidden="true")
                li: a(href="https://twitter.com/asus_ib"): i(class="fa fa-twitter" aria-hidden="true")
                li: a(href="https://www.youtube.com/user/asusiberica"): i(class="fa fa-youtube" aria-hidden="true")
                li: a(href="https://www.instagram.com/asus_es/"): i(class="fa fa-instagram" aria-hidden="true")
                li: a(href="location.html"): i(class="fa fa-map-marker" aria-hidden="true")
          div(class="col-lg-4 col-md-4 col-sm-4 col-lg-pull-4 col-md-pull-4 col-sm-pull-4 col-xs-12 columna-footer-izquierda")
            img(src="img/logo-intel.png" class="logo-footer img-responsive")
          div(class="col-lg-4 col-md-4 col-sm-4 col-xs-12 columna-footer-derecha")
            img(src="img/logo-nvidia.png" class="logo-footer img-responsive")

    div(class="linea-negra")
      div(class="container")
        div(class="row")
          div(class="col-lg-6 col-md-6 col-sm-6 col-xs-12 columna-terminos"): a(href="#") Términos y condiciones
          div(class="col-lg-6 col-md-6 col-sm-6 col-xs-12 columna-copy") &copy; ASUS Computer Inc. Derechos reservados.

    script(type="text/javascript" src="js/jquery.min.js")
    script(type="text/javascript" src="js/bootstrap.min.js")
    script(type="text/javascript" src="js/code.js")
